
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div  class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row" >
                <div   class="col">
                  <h5   class="card-title text-uppercase text-muted mb-0">GAMIX </h5>
                  <span [ngStyle]=" this.nbgamix<2 ?{'color':'red','font-style':'italic'} :{'color':'green'}" class="h2 font-weight-bold mb-0">{{this.nbgamix}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="ni ni-controller"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span [ngClass]="(this.nbgamix /this.nbtotal*100 >= 50)?'fas fa-arrow-up text-success mr-2 ':'text-danger mr-2 fas fa-arrow-down'"> {{this.nbgamix /this.nbtotal*100}} %</span>
                <span class="text-nowrap">Of Total Options</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">SIM</h5>
                  <span [ngStyle]=" this.nbsim<2 ?{'color':'red','font-style':'italic'} :{'color':'green'}"  class="h2 font-weight-bold mb-0">{{this.nbsim}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="ni ni-mobile-button"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span [ngClass]="(this.nbsim /this.nbtotal*100 >= 50)?'fas fa-arrow-up text-success mr-2 ':'text-danger mr-2 fas fa-arrow-down'"> {{this.nbsim /this.nbtotal*100}} %</span>
                <span class="text-nowrap">Of Total Options</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">SE</h5>
                  <span [ngStyle]=" this.nbse<2 ?{'color':'red','font-style':'italic'} :{'color':'green'}"  class="h2 font-weight-bold mb-0">{{this.nbse}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="ni ni-laptop"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span  [ngClass]="(this.nbse /this.nbtotal*100 >= 50)?'fas fa-arrow-up text-success mr-2 ':'text-danger mr-2 fas fa-arrow-down'"
                > {{this.nbse /this.nbtotal*100}} %</span>
                <span class="text-nowrap">Of Total Options</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">NIDS</h5>
                  <span [ngStyle]=" this.nbnids<2 ?{'color':'red','font-style':'italic'} :{'color':'green'}"  class="h2 font-weight-bold mb-0">{{this.nbnids}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="ni ni-lock-circle-open"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span [ngClass]="(this.nbnids /this.nbtotal*100 >= 50)?'fas fa-arrow-up text-success mr-2 ':'text-danger mr-2 fas fa-arrow-down'"> {{this.nbnids /this.nbtotal*100}} %</span>
                <span class="text-nowrap">Of Total Options</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <div class="card-header border-0 " style=" display: flex;
        justify-content: space-between;">
<div class="container">


      <h3 class="animate-charcter"> STUDENTS TABLE</h3>

</div>

          <app-recherche (search)="onsearch($event)"></app-recherche>

          <button class="button-50" routerLink="/addStudent" >Add Student</button>

        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Option</th>
                <th scope="col">Users</th>
                <th scope="col">Completion</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let std of etudiants | paginate :{id:'listingpagination',
            itemsPerPage:5,
            currentPage:page,
            totalItems:totalRecords }" >

              <tr *ngIf="searchT===''||std.nomE.toLowerCase().includes(searchT)||std.prenomE.toLowerCase().includes(searchT)||std.option.toLowerCase().includes(searchT)||std.deptt?.nomDepart.toLowerCase().includes(searchT)" >
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{std?.nomE}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{std?.prenomE}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">

                    <i [ngClass]="{'fas fa-ellipsis-v':std.option==='nids', 'fas fa-users':std.option==='se','ni ni-controller':std.option==='gamix'}"></i> {{std?.option}}
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                    </a>
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{std.deptt?.nomDepart}}</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" [routerLink]="['/user-profile',std.idEtudiant]">Details</a>
                      <a class="dropdown-item"   (click)="onDeleteEmloyee(std?.idEtudiant)" >Delete</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <div>
                <pagination-controls id="listingpagination" maxSize="5" (pageChange)="page=$event" previousLabel="Prev" nextLabel ="Next"  ></pagination-controls>


              </div>
            </ul>
          </nav>
        </div>

    </div>
  </div>

</div>

